# http://editorconfig.org
# 表明是最顶层的配置文件，发现设为true时，停止向上查找
root = true 

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.md]
max_line_length = 0

